* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#animation {
    position: relative;
    user-select: none;
}
.main_scene {
    position: relative;
}

.main-scene__bg,
.main-scene__pain-point-left,
.main-scene__pain-point-right,
.popup__bg,
.popup-header__image,
.popup__membrane-demages-top,
.popup__membrane-demages-bottom,
.popup__membrane,
.popup__organelle-left,
.popup__organelle-right {
    pointer-events: none;
}

/*========= Main Scene ===========*/
.main-scene__bg {
    width: 1024px;
    height: 768px;
}

.main-scene__title {
    position: absolute;
    top: 130px;
    left: 50px;
    font-size: 27px;
    font-weight: 500;
    color: #484248;
}

.main-scene__pain-point-right {
    position: absolute;
    bottom: 287px;
    right: 342px;
    height: 90px;    
}

.main-scene__pain-point-left {
    position: absolute;
    bottom: 198px;
    left: 427px;
    height: 100px;    
}



/*---------- Main Scene Animations -----------*/

.main-scene {
    animation: main-scene-opacity 1s ease 3600ms 1 normal forwards;
}

.main-scene__pain-point-right,
.main-scene__pain-point-left {
    animation-name: pain-points-pulsation, full-opacity;
    animation-duration: 800ms, 1s;
    animation-timing-function: ease-in-out, ease;
    animation-delay: 0s, 2800ms;
    animation-iteration-count: 3, 1;
    animation-direction: normal, normal;
    animation-fill-mode: forwards, forwards;
}

/*---------- Main Scene Keyframes -----------*/

@keyframes main-scene-opacity {
    from {
        opacity: 1;
    }

    to {
        opacity: .5;
    }
}

@keyframes pain-points-pulsation {
    
    50% {
        transform: scale(1.5);  
    }
    
}

@keyframes full-opacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }   
}



/*========= Popup ===========*/

.popup {
    position: absolute;
    top: 154px;
    left: 137px;
    height: 494px;
    border: solid 8px white;
    border-radius: 8px;
    background-color:white;
    transform: scale(0);
    overflow: hidden;
    opacity: 0;
}

.popup__bg {
    width: 734px;
    height: 478px;
    
}

.popup-heder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 10px;
    width: 734px;
    z-index:39;
}
.popup-heder h1{
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    color: #f14405;
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;    text-align: center;
}

.popup-heder img {
    width: 228px;
    height: 122px;
    margin: 24px 35px 0 38px;
}

.popup-forward-layer {
    position: absolute;
    top: 0;
}
.popup__membrane-demages-top,
.popup__membrane-demages-bottom {
    position: absolute;
    width: 734px;
}

.popup__membrane-demages-top {
    top: 5px;
    height: 248px;
}
.popup__membrane-demages-bottom {
    top: 227px;
    height: 243px;
}

.popup__membrane {
    position: absolute;
    width: 733px;
    top: 112px;
    z-index: 40;
} 

.popup-yellow-molecules-group div,
.popup-red-molecules-group div {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: solid 2px white;
}

.popup-yellow-molecules-group div {
   background: url(img/yellow_substance_molecula.png) 50% 50% no-repeat; 
}

div [data-id="1"] {
    top: 98px;
    left: 268px;  
}

div [data-id="2"] {
    top: 104px;
    left: 249px;   
}

div [data-id="3"] {
    top: 50px;
    left: 248px;   
}

div [data-id="4"] {
    top: 42px;
    left: 265px;   
}

div [data-id="5"] {
    top: 51px;
    left: 280px;
}    

div [data-id="6"] {
    top: 118px;
    left: 266px;   
}

div [data-id="7"] {
    top: 61px;
    left: 265px;    
}

div [data-id="8"] {
    top: 106px;
    left: 283px;  
}

div [data-id="9"] {
    top: 71px;
    left: 252px;  
}

div [data-id="10"] {
    top: 31px;
    left: 284px;   
}

div [data-id="11"] {
    top: 70px;
    left: 279px;  
}

div [data-id="12"] {
    top: 81px;
    left: 265px;   
}

div [data-id="13"] {
    top: 88px;
    left: 281px;  
}



.popup-red-molecules-group div {
    background: url(img/red_substance_molecula.png) 50% 50% no-repeat; 
}

div [data-id="14"] {
    top: 110px;
    left: 445px;   
}

div [data-id="15"] {
    top: 119px;
    left: 460px;
}

div [data-id="16"] {
    top: 100px;
    left: 459px;
}

div [data-id="17"] {
    top: 93px;
    left: 445px;
}

div [data-id="18"] {
    top: 87px;
    left: 468px;
}

div [data-id="19"] {
    top: 27px;
    left: 443px;
}

div [data-id="20"] {
    top: 76px;
    left: 457px;
}

div [data-id="21"] {
    top: 72px;
    left: 444px;
}

div [data-id="22"] {
    top: 60px;
    left: 461px;
}

div [data-id="23"] {
    top: 65px;
    left: 470px;
}

div [data-id="24"] {
    top: 52px;
    left: 446px;
}

div [data-id="25"] {
    top: 31px;
    left: 459px;
}

div [data-id="26"] {
    top: 46px;
    left: 477px;
}

div [data-id="27"] {
    top: 46px;
    left: 460px;
}

.popup__organelle-left,
.popup__organelle-right {
    position: absolute;
    /* box-shadow: 0px 0px 27px 53px rgba(255, 255, 255, 0.5); */
}

.popup__organelle-left {
    top: 408px;
    left: 243px;
    z-index: 39;
}

.popup__organelle-right {
    top: 399px;
    left: 527px;
    transform: rotate(-32deg);
    z-index: 38;
}

.popup__organelle-left::before ,
.popup__organelle-right::before {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 83px;
    height: 41px;
    border-radius: 41%;
    z-index: -1;
    transform: rotate(10deg);
    box-shadow: 0px 0px 28px 25px rgb(255, 255, 255);
    opacity: 0;
}



/*---------- Popup Animations -----------*/

.popup {
    animation: popup-scale 1s ease 3800ms 1 normal forwards;
}

.popup__membrane-demages-top {
    animation: full-opacity 1s ease 8s 1 normal forwards;
}
.popup__membrane-demages-bottom {
    animation: full-opacity 1s ease 10700ms 1 normal forwards;
}



/*yelow group*/

div [data-id="1"] {
    animation: molecule-moving-1 6s ease 5350ms 1 normal forwards;
}

div [data-id="2"] {
    animation: molecule-moving-2 6s ease 5550ms 1 normal forwards;
}

div [data-id="3"] {
    animation: molecule-moving-3 6s ease 5550ms 1 normal forwards;
}

div [data-id="4"] {
    animation: molecule-moving-4 6s ease 5350ms 1 normal forwards;
}

div [data-id="5"] {
    animation: molecule-moving-5 6s ease 5550ms 1 normal forwards;
}    

div [data-id="6"] {
    animation: molecule-moving-6 6s ease 5550ms 1 normal forwards;
}

div [data-id="7"] {
    animation: molecule-moving-7 6s ease 5350ms 1 normal forwards;
}

div [data-id="8"] {
    animation: molecule-moving-8 6s ease 5150ms 1 normal forwards;
}

div [data-id="9"] {
    animation: molecule-moving-9 6s ease 5350ms 1 normal forwards;
}

div [data-id="10"] {
    animation: molecule-moving-10 6s ease 5550ms 1 normal forwards;
}

div [data-id="11"] {
    animation: molecule-moving-11 6s ease 5550ms 1 normal forwards;
}

div [data-id="12"] {
    animation: molecule-moving-12 6s ease 5350ms 1 normal forwards;
}

div [data-id="13"] {
    animation: molecule-moving-13 6s ease 5550ms 1 normal forwards;
}

/*red group*/

div [data-id="14"] {
    animation: molecule-moving-14 6s ease 5350ms 1 normal forwards;
}

div [data-id="15"] {
    animation: molecule-moving-15 6s ease 5550ms 1 normal forwards;
}

div [data-id="16"] {
    animation: molecule-moving-16 6s ease 5550ms 1 normal forwards;
}

div [data-id="17"] {
    animation: molecule-moving-17 6s ease 5350ms 1 normal forwards;
}

div [data-id="18"] {
    animation: molecule-moving-18 6s ease 5550ms 1 normal forwards;
}    

div [data-id="19"] {
    animation: molecule-moving-19 6s ease 5550ms 1 normal forwards;
}

div [data-id="20"] {
    animation: molecule-moving-20 6s ease 5350ms 1 normal forwards;
}

div [data-id="21"] {
    animation: molecule-moving-21 6s ease 5150ms 1 normal forwards;
}

div [data-id="22"] {
    animation: molecule-moving-22 6s ease 5350ms 1 normal forwards;
}

div [data-id="23"] {
    animation: molecule-moving-23 6s ease 5550ms 1 normal forwards;
}

div [data-id="24"] {
    animation: molecule-moving-24 6s ease 5550ms 1 normal forwards;
}

div [data-id="25"] {
    animation: molecule-moving-25 6s ease 5350ms 1 normal forwards;
}

div [data-id="26"] {
    animation: molecule-moving-26 6s ease 5550ms 1 normal forwards;
}

div [data-id="27"] {
    animation: molecule-moving-27 6s ease 5550ms 1 normal forwards;
}

.popup__organelle-left::before ,
.popup__organelle-right::before {
    animation: opacity-pulsation 1200ms ease-in-out 11300ms 5 normal forwards;
}


/*---------- Popup Keyframes -----------*/

@keyframes popup-scale {
    
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes opacity-pulsation {

    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*yelow group*/

@keyframes molecule-moving-1 {

    40% {
        transform: translate(-239px, 73px);
    }

    50% {
        transform: translate(-239px, 73px);
    }

    90% {
        transform: translate(-239px, 323px);
        opacity: 1;
    }

    100% {
        transform: translate(-239px, 323px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-2 {

    40% {
        transform: translate(-184px, 74px);
    }

    50% {
        transform: translate(-184px, 74px);       
    }

    90% {
        transform: translate(-184px, 294px);
        opacity: 1;
    }

    100% {
        transform: translate(-184px, 294px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-3 {

    40% {
        transform: translate(-172px, 103px);
    }
    
    50% {
        transform: translate(-172px, 103px);  
    }

    90% {
        transform: translate(-172px, 370px);
        opacity: 1;
    }

    100% {
        transform: translate(-172px, 370px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-4 {

    40% {
        transform: translate(-185px, 125px);
    }
    
    50% {
        transform: translate(-185px, 125px);
    }

    90% {
        transform: translate(-185px, 408px);
        opacity: 1;
    }

    100% {
        transform: translate(-185px, 408px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-5 {

    40% {
        transform: translate(-176px, 105px);
    }
    
    50% {
        transform: translate(-176px, 105px);
    }      

    90% {
        transform: translate(-176px, 334px);
        opacity: 1;
    }

    100% {
        transform: translate(-176px, 334px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-6 {

    40% {
        transform: translate(-146px, 51px);
    }
    
    50% {
        transform: translate(-146px, 51px);      
    }

    90% {
        transform: translate(-146px, 321px);
        opacity: 1;
    }

    100% {
        transform: translate(-146px, 321px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-7 {

    40% {
        transform: translate(-129px, 102px);
    }
    
    50% {
        transform: translate(-129px, 102px);       
    }

    90% {
        transform: translate(-129px, 357px);
        opacity: 1;
    }

    100% {
        transform: translate(-129px, 357px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-8 {

    40% {
        transform: translate(-145px, 31px);
    }
    
    50% {
        transform: translate(-145px, 31px);       
    }

    90% {
        transform: translate(-145px, 279px);
        opacity: 1;
    }

    100% {
        transform: translate(-145px, 279px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-9 {

    40% {
        transform: translate(-96px, 87px);
    }
    
    50% {
        transform: translate(-96px, 87px);        
    }

    90% {
        transform: translate(-96px, 363px);
        opacity: 1;
    }

    100% {
        transform: translate(-96px, 363px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-10 {

    40% {
        transform: translate(-120px, 101px);
    }
    
    50% {
        transform: translate(-120px, 101px);        
    }

    90% {
        transform: translate(-120px, 356px);
        opacity: 1;
    }

    100% {
        transform: translate(-120px, 356px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-11 {

    40% {
        transform: translate(-98px, 83px);
    }
    
    50% {
        transform: translate(-98px, 83px);        
    }

    90% {
        transform: translate(-98px, 334px);
        opacity: 1;
    }

    100% {
        transform: translate(-98px, 334px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-12 {

    40% {
        transform: translate(-79px, 66px);
    }
    
    50% {
        transform: translate(-79px, 66px);       
    }

    90% {
        transform: translate(-79px, 347px);
        opacity: 1;
    }

    100% {
        transform: translate(-79px, 347px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-13 {

    40% {
        transform: translate(-70px, 65px);
    }
    
    50% {
        transform: translate(-70px, 65px); 
    }

    90% {
        transform: translate(-70px, 324px);
        opacity: 1;
    }

    100% {
        transform: translate(-70px, 324px);
        opacity: 0;
    }
    
}

/*red group*/

@keyframes molecule-moving-14 {

    40% {
        transform: translate(4px, 24px);
    }

    50% {
        transform: translate(4px, 24px);
    }

    90% {
        transform: translate(4px, 243px);
        opacity: 1;
    }

    100% {
        transform: translate(4px, 243px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-15 {

    40% {
        transform: translate(3px, 5px);
    }

    50% {
        transform: translate(3px, 5px);     
    }

    90% {
        transform: translate(3px, 268px);
        opacity: 1;
    }

    100% {
        transform: translate(3px, 268px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-16 {

    40% {
        transform: translate(17px, 31px);
    }
    
    50% {
        transform: translate(17px, 31px);
    }

    90% {
        transform: translate(17px, 327px);
        opacity: 1;
    }

    100% {
        transform: translate(17px, 327px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-17 {

    40% {
        transform: translate(53px, 13px);
    }
    
    50% {
        transform: translate(53px, 13px);
    }

    90% {
        transform: translate(53px, 275px);
        opacity: 1;
    }

    100% {
        transform: translate(53px, 275px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-18 {

    40% {
        transform: translate(61px, 36px);
    }
    
    50% {
        transform: translate(61px, 36px);
    }      

    90% {
        transform: translate(61px, 278px);
        opacity: 1;
    }

    100% {
        transform: translate(61px, 278px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-19 {

    40% {
        transform: translate(104px, 55px);
    }
    
    50% {
        transform: translate(104px, 55px);     
    }

    90% {
        transform: translate(104px, 336px);
        opacity: 1;
    }

    100% {
        transform: translate(104px, 336px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-20 {

    40% {
        transform: translate(134px, 35px);
    }
    
    50% {
        transform: translate(134px, 35px);
    }

    90% {
        transform: translate(134px, 278px);
        opacity: 1;
    }

    100% {
        transform: translate(134px, 278px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-21 {

    40% {
        transform: translate(174px, 17px);
    }
    
    50% {
        transform: translate(174px, 17px);
    }

    90% {
        transform: translate(174px, 378px);
        opacity: 1;
    }

    100% {
        transform: translate(174px, 378px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-22 {

    40% {
        transform: translate(163px, 14px);
    }
    
    50% {
        transform: translate(163px, 14px);
    }

    90% {
        transform: translate(163px, 268px);
        opacity: 1;
    }

    100% {
        transform: translate(163px, 268px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-23 {

    40% {
        transform: translate(159px, 41px);
    }
    
    50% {
        transform: translate(159px, 41px);
    }

    90% {
        transform: translate(159px, 297px);
        opacity: 1;
    }

    100% {
        transform: translate(159px, 297px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-24 {

    40% {
        transform: translate(196px, 36px);
    }
    
    50% {
        transform: translate(196px, 36px);
    }

    90% {
        transform: translate(196px, 339px);
        opacity: 1;
    }

    100% {
        transform: translate(196px, 339px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-25 {

    40% {
        transform: translate(198px, 44px);
    }
    
    50% {
        transform: translate(198px, 44px);
    }

    90% {
        transform: translate(198px, 384px);
        opacity: 1;
    }

    100% {
        transform: translate(198px, 384px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-26 {

    40% {
        transform: translate(195px, 61px);
    }
    
    50% {
        transform: translate(195px, 61px);
    }

    90% {
        transform: translate(195px, 302px);
        opacity: 1;
    }

    100% {
        transform: translate(195px, 302px);
        opacity: 0;
    }
    
}

@keyframes molecule-moving-27 {

    40% {
        transform: translate(214px, 43px);
    }
    
    50% {
        transform: translate(214px, 43px);
    }

    90% {
        transform: translate(214px, 343px);
        opacity: 1;
    }

    100% {
        transform: translate(214px, 343px);
        opacity: 0;
    }
    
}